<form action="/" method="post">
  <select name="shelves"><% for(var i = 0; i < shelves.length; i++) { %>
    <option value="<%=shelves[i]%>"<% if (shelf == shelves[i] || (shelf == '' && shelves[i] == 'currently-reading' ) )  { %> selected<% } %>><%=shelves[i]%></option><% } %>
  </select>
  <input type="submit" value="<%=submit%>">
</form>
