<form action="/" method="post">
<div class="shelves"><label for="shelves">Shelf:</label> <select id="shelves" name="shelves"><% for(var i = 0; i < shelves.length; i++) { %>
    <option value="<%=shelves[i]%>"<% if (shelf == shelves[i] || (shelf == '' && shelves[i] == 'currently-reading' ) )  { %> selected<% } %>><%=shelves[i]%></option><% } %>
  </select></div>
  <input type="submit" value="<%=submit%>">
</form>
