<!DOCTYPE html>
<html>
	<head>
    <%- include bootstrap_meta.ejs %>
		<title>Random Goodreads book</title>
    <%- include bootstrap_head.ejs %>
	</head>
	<body>
  <a href="/auth/goodreads">Login with Goodreads</a>
  <%- include bootstrap_end.ejs %>

	</body>
</html>
