<!DOCTYPE html>
<html>
	<head>
		<title>Goodreads Shelves</title>
    <style type="text/css">
      ul {
        list-style: none;
      }
      .book-cover {
        float: left;
        padding-right: 5px;
        padding-bottom: 5px;
      }
    </style>
	</head>
  
	<body>
    
    <%- include form.ejs %>
  <%- include footer.ejs %>
    
	</body>
</html>
